/* about us */

#about-us {
    padding: 4% 7% 2%;
}

.header {
    font-weight: 900;
    font-size: 3.5rem;
    border-bottom: 2px #000 solid;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.about-us-header {
    text-align: center;
}

.fa-user {
    scale: 80%;
    padding-left: 4px;
    color: #f0617b;
}

.about-us-section {
    height: auto;
    padding: 30px 0;
}

.circle-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-logo {
    padding: 0 0 0 0;
    height: 340px;
    width: 340px;
    display: block;
    border-radius: 100%;
}

.about-us-paragraphs {
    font-weight: 400;
    font-size: 1.5rem;
}

.img-container {
    display: flex;
    justify-content: center;
}

.nurse-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 991px) {
    .img-container {
        padding-bottom: 20px;
    }
}

@media (max-width: 500px) {

    .header {
        font-size: 2.5rem;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    .about-us-paragraphs {
        font-size: 1rem;
    }

    .about-us-section {
        padding: 15px 0;
    }
}
