@font-face {
    font-family: "featherly regular";
    src: url("../fonts/featherly_0.ttf");
}

body {
    font-family: "Montserrat", sans-serif;
}

/* Navbar */

#navbar {
    background-color: #fff;
    padding-bottom: 20px;
    transition: all 300ms ease-in-out;
}

#navbar.is-hidden {
    transform: translateY(-100%);
}

#navbar.shadow {
    filter: drop-shadow(0 0 10px rgb(170, 170, 170));
}

.navbar {
    padding: 0 7%;
    background-color: #fff;
}

.navbar .row {
    width: 335px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-brand {
    text-align: center;
}

.nav-heart {
    padding-left: 8px;
}

@-moz-document url-prefix() {
    .nav-heart {
        padding-left: 25px;
    }

    @media (max-width: 740px) {
        .nav-heart {
            padding-left: 8px;
        }
    }


}


.navbar .navbar-collapse {
    border-top: 2px #000 solid;
    border-bottom: 2px #000 solid;
}

.nav-logo1 {
    font-family: "featherly regular", "Times New Roman", "Informal Roman", sans-serif;
    font-size: 40px;
    font-weight: 1000;
    line-height: .3;
    text-align: center;
}


.nav-logo2 {
    font-family: "Times New Roman", "Informal Roman", sans-serif;
    font-size: 10px;
    text-align: center;
}

.row:hover .navbar-brand {
    color: #f0617b;
}

.nav-link {
    color: #575757;
    font-size: 24px;
}

.nav-link:hover {
    color: #f0617b;
}

.number-button:hover {
    background-color: #f0617b;
    border-color: #fff;
    color: #fff;
}

.nav-number {
    display: none;
}


@media (max-width: 740px) {
    .navbar {
        justify-content: center;
    }

    .navbar .row {
        width: 100%;
    }

    .btn {
        margin-bottom: 10px;
    }

    .btn-lg.number-button {
        display: none;
    }

    .nav-link {
        color: #000;
    }

    .nav-number {
        display: initial;
    }
}


@media (max-width: 992px) {

    .navbar .navbar-collapse {
        border: none;
    }

    .navbar-toggler {
        width: 100%;
        text-align: right;
        border: 2px #000 solid;
    }

}

.navbar-toggler:focus {
    box-shadow: none;
}

.menu-text {
    font-family: "Times New Roman", sans-serif;
}

@media (max-width: 400px) {
    .nav-logo1 {
        font-size: 35px;
    }


    .nav-logo2 {
        font-size: 9px;
    }

    .nav-heart {
        height: 30px;
    }

    .nav-link {
        font-size: 22px;
    }
}

@media (max-width: 350px) {
    .nav-logo1 {
        font-size: 30px;
    }


    .nav-logo2 {
        font-size: 8px;
    }

    .nav-heart {
        height: 25px;
    }

    .nav-link {
        font-size: 20px;
    }

}

@media (max-width: 305px) {
    .nav-logo1 {
        font-size: 25px;
    }


    .nav-logo2 {
        font-size: 7px;
    }

    .nav-heart {
        height: 20px;
    }

    .nav-link {
        font-size: 18px;
    }
}