RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

<IfModule mod_headers.c>
  # Cache static resources like CSS and JS files for 1 month
  <FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=2592000"
  </FilesMatch>

  # Cache image files for 1 day
  <FilesMatch "\.(png|jpg|jpeg|gif|ico)$">
    Header set Cache-Control "max-age=86400"
  </FilesMatch>

  # Disable caching for HTML files
  <FilesMatch "\.(html)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header unset ETag
    Header set Expires "Fri, 01 Jan 1990 00:00:00 GMT"
  </FilesMatch>
</IfModule>

# Add versioning to resource URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)(\.[\d\w]+)$ $1 [L]